main{
    text-align: center;
}
h1{
    font-size: 2.4rem;
}
h2{
   font-size: 1.3rem; 
}
span{
   color: #90a0d9; 
}

 main p{
    color: #bdbddd;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.resume-btn{
    background-color: #2a2f4c;
    color: #90a0d9;
    border: 1px solid #90a0d9;
    padding: 4px 8px;
    margin-bottom: 2%;
}

